In [2]:
import mysql.connector

In [3]:
mydb = mysql.connector.connect(
  host="wordpress.ckoizwonzrvu.us-east-2.rds.amazonaws.com",
  user="david",
  password="owlleadma26",
  database="wordpress"
)

print(mydb)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

<mysql.connector.connection.MySQLConnection object at 0x0000022C297C6948>

In [4]:
for x in mycursor:
    print(x)

('information_schema',)
('wordpress',)

In [5]:
mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

In [6]:
mycursor.execute("SHOW TABLES")

In [7]:
for x in mycursor:
    print(x)

('customers',)
('pd_cnts',)
('pd_cnts_snsrs',)
('wp_actionscheduler_actions',)
('wp_actionscheduler_claims',)
('wp_actionscheduler_groups',)
('wp_actionscheduler_logs',)
('wp_commentmeta',)
('wp_comments',)
('wp_gmw_forms',)
('wp_gmw_locationmeta',)
('wp_gmw_locations',)
('wp_links',)
('wp_options',)
('wp_pmxi_files',)
('wp_pmxi_hash',)
('wp_pmxi_history',)
('wp_pmxi_images',)
('wp_pmxi_imports',)
('wp_pmxi_posts',)
('wp_pmxi_templates',)
('wp_postmeta',)
('wp_posts',)
('wp_term_relationships',)
('wp_term_taxonomy',)
('wp_termmeta',)
('wp_terms',)
('wp_usermeta',)
('wp_users',)
('wp_wpforms_tasks_meta',)
('wp_wpgmza',)
('wp_wpgmza_circles',)
('wp_wpgmza_maps',)
('wp_wpgmza_polygon',)
('wp_wpgmza_polylines',)
('wp_wpgmza_rectangles',)

In [8]:
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [13]:
import pandas as pd
police = pd.read_csv('POLICE_STATION.csv', index_col=False, delimiter = ',')
police.head()
target = ["NAME_LABEL","LATITUDE", "LONGITUDE"]
ps = police[target]
ps.head()

                      NAME_LABEL   LATITUDE   LONGITUDE
0    Moonee Ponds Police Station -37.764712  144.924078
1      Flemington Police Station -37.785119  144.932150
2       Footscray Police Station -37.803867  144.901373
3       Brunswick Police Station -37.762813  144.963069
4  Melbourne East Police Station -37.812847  144.967261

In [14]:
public = pd.read_csv('PTV_METRO_TRAIN_STATION.csv', index_col=False, delimiter = ',')
public.head()
target = ["STOP_NAME", "LATITUDE", "LONGITUDE"]
pt = public[target]
pt.head()

                                       STOP_NAME   LATITUDE   LONGITUDE
0            Richmond Railway Station (Richmond) -37.824074  144.990164
1            Hawthorn Railway Station (Hawthorn) -37.821826  145.022899
2          Glenferrie Railway Station (Hawthorn) -37.821467  145.036439
3  Jolimont-MCG Railway Station (East Melbourne) -37.816527  144.984098
4       West Richmond Railway Station (Richmond) -37.814949  144.991423

In [ ]:
try:
    mydb = mysql.connector.connect(
                      host="wordpress.ckoizwonzrvu.us-east-2.rds.amazonaws.com",
                      user="david",
                      password="owlleadma26",
                      database="wordpress"
)
    if mydb.is_connected():
        cursor = mydb.cursor()
        print("You're connected to database: ", record)
        cursor.execute('DROP TABLE IF EXISTS employee_data;')
        print('Creating table....')
# in the below line please pass the create table statement which you want #to create
        cursor.execute("CREATE TABLE employee_data(first_name varchar(255),last_name varchar(255),company_name varchar(255),address varchar(255),city varchar(255),county varchar(255),state varchar(255),zip int,phone1 varchar(255),phone2 varchar(255),email varchar(255),web varchar(255))")
        print("Table is created....")
        #loop through the data frame
        for i,row in empdata.iterrows():
            #here %S means string values 
            sql = "INSERT INTO employee.employee_data VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
            cursor.execute(sql, tuple(row))
            print("Record inserted")
            # the connection is not auto committed by default, so we must commit to save our changes
            conn.commit()
except Error as e:
            print("Error while connecting to MySQL", e)

In [17]:
mycursor.execute('DROP TABLE IF EXISTS police_station;')
print('Creating table....')
mycursor.execute("CREATE TABLE police_station(station_name varchar(255),latitude varchar(255),longitude varchar(255))")
print("Table is created....")
#loop through the data frame
for i,row in ps.iterrows():
    sql = "INSERT INTO police_station VALUES (%s,%s,%s)"
    mycursor.execute(sql, tuple(row))
    print("Record inserted")
    mydb.commit()

Creating table....
Table is created....
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted

In [18]:
mycursor.execute('DROP TABLE IF EXISTS ptv_station;')
print('Creating table....')
mycursor.execute("CREATE TABLE ptv_station(station_name varchar(255),latitude varchar(255),longitude varchar(255))")
print("Table is created....")
#loop through the data frame
for i,row in pt.iterrows():
    sql = "INSERT INTO ptv_station VALUES (%s,%s,%s)"
    mycursor.execute(sql, tuple(row))
    print("Record inserted")
    mydb.commit()

Creating table....
Table is created....
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted

In [19]:
mydb.close()